* {
  margin: 0;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  height: 100%;
  font-size: 16px;
  background-color: #f6f2f0;
}

.Loading {
  text-align: center;
  margin: 10% auto;
  font-size: 2rem;
  font-weight: 400;
  color: #e16b00;
}

.App {
  background-color: #f6f2f0;
}

h1 {
  padding: 3rem 0 4rem 0;
  font-weight: 300;
  font-size: 4rem;
  background-color: #19191d;
  color: #e16b00;
  text-align: center;
}
p {
  padding: 1em 0;
}

.Nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #19191d;
  text-decoration: none;
  padding: 1.5em 4em;
}
.Nav a {
  color: #f6f2f0;
  text-decoration: none;
}
.Nav a:hover {
  color: #e16b00;
  text-decoration: none;
}

.Reviews--Link {
  max-width: 600px;
  min-width: 300px;
  width: 45%;
  height: auto;
  min-width: 300px;
  max-height: 300px;
  display: flex;
  text-decoration: none;
  border: #19191d solid;
  margin: 2em 0;
  background-color: #f6f2f0;
  align-content: stretch;
  align-items: stretch;
}
.Reviews--Link a:hover {
  cursor: pointer;
}
.Reviews--Link p {
  color: #19191d;
}

.Reviews--li_text {
  height: auto;
  width: 100%;
  font-size: 0.9em;
  padding-left: 1em;
}

.Reviews--li_text h3 {
  color: #e16b00;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  padding-bottom: 1rem;
}

.Reviews--li_text p {
  font-size: 1em;
  text-align: right;
  line-height: 1.2em;
  text-align-last: justify;
}

.SingleReview--Header h2 {
  font-size: 2em;
}

.SingleReview--Header h4 {
  font-weight: 400;
  font-size: 0.9em;
}
.SingleReview--Header p {
  font-size: 0.9em;
  padding: 1em 0;
}
.SingleReview--Header span {
  padding-right: 3em;
}

.SingleReview--ReviewBody,
.SingleReview--Comments {
  font-size: 1rem;
  padding: 1rem 0rem;
}
@media only screen and (max-width: 768px) {
  .Reviews--Link {
    width: 60%;
    height: auto;
    display: flex;
    text-decoration: none;
    border: #19191d solid;
    margin: 1.5em;
  }
  .Reviews--Container {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .Reviews--Content_container {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 850px;
  }
  .Reviews--review_img {
    width: 9em;
    height: 9em;
    object-fit: cover;
  }

  .Reviews--li_item {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    display: inline-flex;
    text-align: start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .SingleReview--Header h2,
  span,
  time,
  .SingleReview--ReviewBody {
    margin: 1rem;
    max-width: 90%;
  }

  .SingleReview--Header_img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  .Reviews--Content_container {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  ul {
    width: 100%;
  }
  .Reviews--Container,
  .SingleReview--Container {
    display: flex;
    margin: 4rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .Reviews--li_item {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    min-width: 300px;
    max-height: 250px;
    display: inline-flex;
    text-align: start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  .Reviews--review_img {
    width: 9em;
    height: 9em;

    object-fit: cover;
  }

  .SingleReview--ReviewBody,
  .SingleReview--Header h2,
  .SingleReview--Header span,
  time {
    padding: 1rem 0;
    margin: auto;
    display: flex;
    max-width: 70%;
    flex-direction: column;
  }

  .SingleReview--Header h2 {
    font-size: 3em;
  }
  .SingleReview--Header_img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
}
