* {
  margin: 0;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #f6f2f0;
}

.Loading {
  text-align: center;
  margin: 10% auto;
  font-size: 2rem;
  font-weight: 400;
  color: #e16b00;
}

.App {
  background-color: #f6f2f0;
}

h1 {
  padding: 1em 0 1em 0;
  font-weight: 300;
  font-size: 4em;
  background-color: #19191d;
  color: #e16b00;
  min-width: 300px;
  text-align: center;
}

.Nav {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #19191d;
  text-decoration: none;
  padding: 1.5em 4em;
}
.Nav a {
  color: #f6f2f0;
  text-decoration: none;
}
.Nav a:hover {
  color: #e16b00;
  text-decoration: none;
}

.Reviews--Content_container {
  margin: 0 auto;
  max-width: 1280px;
}

.Reviews--Container ul {
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.Reviews--li_item {
  max-width: 600px;
  text-decoration: none;
  background-color: #f6f2f0;
}

.Reviews--Link {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  min-width: 300px;
}
.Reviews--Link a:hover {
  cursor: pointer;
}
.Reviews--Link p {
  color: #19191d;
  font-size: 1em;
  padding: 0.5em;
}
.Reviews--Link h3 {
  color: #e16b00;
  font-size: 1.4em;
  font-weight: 400;
  min-width: 100px;
}

.Reviews--li_text {
  padding-left: 1em;
  width: 100%;
  height: 100%;
}

.SingleReview--Header h2 {
  font-size: 2em;
}
.SingleReview--Header h4 {
  font-weight: 400;
  font-size: 0.9em;
}
.SingleReview--Header p {
  font-size: 0.9em;
  padding: 1em 0;
}
.SingleReview--Header span {
  padding-right: 3em;
}
.SingleReview--ReviewBody,
.SingleReview--Comments {
  font-size: 1rem;
  padding: 1rem 0rem;
}

.Comments {
  margin: 1rem 0rem;
}
.Comments--header {
  width: 100%;
  display: flex;
}
.Comments ul {
  margin: 1rem 0;
  border-top: #19191d solid 1px;
}
.Comments--li_item {
  padding: 2rem 0;
  border-bottom: #19191d solid 1px;
}

@media only screen and (max-width: 768px) {
  .Reviews--Content_container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .Reviews--review_img {
    max-width: 15em;
    max-height: 15em;
    object-fit: cover;
  }

  .Reviews--li_item {
    padding: 1.5em;
    height: 19em;
    background-color: antiquewhite;
    width: 100%;
    margin: 2em 0;
    display: flex;
    font-size: 0.7em;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

  .Reviews--Link {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
  }

  .SingleReview--Header h2,
  span,
  time,
  aside,
  .SingleReview--ReviewBody {
    margin: 1rem;
    max-width: 90%;
  }

  .SingleReview--Header_img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  .Reviews--Content_container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .Reviews--Container ul {
    width: 100%;
    margin: 0 auto;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Reviews--Link {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
  }

  .Reviews--li_item {
    padding: 2em;
    /* height: 30em; */
    height: 15rem;
    background-color: antiquewhite;
    width: 44%;
    margin: 1rem;
    display: flex;
    font-size: 0.7em;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

  .Reviews--review_img {
    max-width: 18em;
    height: 100%;
    object-fit: cover;
  }

  .SingleReview--ReviewBody,
  .SingleReview--Header h2,
  .SingleReview--Header span,
  time,
  aside {
    padding: 1rem 0;
    margin: auto;
    display: flex;
    width: 70%;
    max-width: 1250px;
    flex-direction: column;
  }

  .SingleReview--Header h2 {
    font-size: 3em;
  }
  .SingleReview--Header_img {
    display: flex;
    margin: auto;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    max-width: 1250px;
  }
}
